/* imoport Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*  basic css */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  
  text-decoration: none;
}
/* root colors*/
:root {
  --activeGreen: #2dbf64;
  --fontPrimary: #002333;
  --questionBG: #e4e8ee;
  --successGreen: #00ff84;
  --newGreen: #1dd881;
  --bodyBackground: #f2f4f8;
  --smartYellow: #ffc916;
  --smartSkyblue: #5aa6ff;
  --purpule: #728fce;
}
body{
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
 }